staging:
  adapter: mysql2
  database: "isleep_staging"
  host: "127.0.0.1"
  encoding: "utf8"
  username: ""
  password: ""

development:
  adapter: mysql2
  database: "isleep_development"
  host: "127.0.0.1"
  encoding: "utf8"
  username: ""
  password: ""

test:
  adapter: mysql2
  database: "isleep_test"
  host: "127.0.0.1"
  encoding: "utf8"
  username: ""
  password: ""

production:
  adapter: mysql2
  database: "isleep_production"
  host: "127.0.0.1"
  encoding: "utf8"
  username: ""
  password: ""
