.topbar.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :data => { :toggle => :collapse, :target => '.nav-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "愛睡覺+_+", root_path, :class => :brand
      .nav-collapse.collapse
        %ul.nav
          - if user_signed_in?
            - c = { params[:check_type].to_s.to_sym => :active }
            - Checkin::TYPES.each do |type_value, type_name|
              %li{ :class => c[type_value] }
                =link_to type_name, checkins_path(:check_type => type_value)
            %li{ :class => params[:action] == 'show' && params[:controller] == 'users' ? :active : '' }
              =link_to current_user.name, user_path(current_user)
        %ul.nav.pull-right
          - if user_signed_in?
            %li
              = link_to "設定", edit_user_path(current_user)
            %li
              = link_to "登出", user_logout_path, :method => :delete, :confirm => "請確定"
          - else
            %li
              = link_to 'Facebook登入', '/auth/facebook'