.row-fluid
  .span10
    = render :partial => 'form'
    
  .span10
    %table.table.table-striped
      %tr
        %th="日期"
        - Checkin::TYPES.each do |k, v|
          %th=v
      - checkins_dates(@checkins).each do |date|
        %tr
          %td=date
          - Checkin::TYPES.each do |k, v|
            %td
              - checkins_pick(@checkins, :date => date, :check_type => k).reverse.each do |ck|
                = render :partial => 'checkin', :object => ck
